Invalid date-time format gets validated

Hi!

kin-openapi considers the following `date-time` to be valid: `2022-05-20T10:49:18`, but it's not RFC3339.

According to [Swagger's doc](https://swagger.io/docs/specification/data-models/data-types/):
> date-time – the date-time notation as defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6), for example, 2017-07-21T17:32:28Z

Shouldn't this format be rejected instead?

Thanks!

Hi!

I'm sorry but this page is lying. Here's the actual specification: https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.1.0.md#dataTypeFormat and there's no mention of `date` nor `date-time` string formats I could find. Keep in mind that SwaggerTM is not involved in the publishing of the OpenAPI spec since v2.

However, since we here chose to parse these formats out of the box https://github.com/getkin/kin-openapi/blob/32445850faa0551385d614e844b344006c0a8f22/openapi3/schema_formats.go#L90-L94 I suggest you open a PR with a regression test (at least) and a fix (not required!) :)

OpenAPIv2 actually does define these string formats https://github.com/OAI/OpenAPI-Specification/blob/main/versions/2.0.md#data-types just FYI.